.navigation
{
  padding: 40px 80px;
}
.navigation__list
{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.navigation__item:not(:last-of-type)
{
  margin-right: 20px;
}
button
{
  cursor: pointer;
}
